<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-group description="" sid="9425777252301529" title="On Click" />
        <event-block sid="5064366218429091">
            <conditions />
            <actions>
                <action id="-2" name="Go to layout" sid="4158737080948433" type="System">
                    <param id="0" name="Layout">Option</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="6483342148738039">
            <conditions>
                <condition id="6" name="On object clicked" sid="7993008840660217" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">BtnBack</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="1433088845314023" type="System">
                    <param id="0" name="Layout">Title</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="2180283515840751">
            <conditions />
            <actions>
                <action id="-2" name="Go to layout" sid="7279152558625691" type="System">
                    <param id="0" name="Layout">Stage 1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="7943445627559293">
            <conditions>
                <condition id="-1" name="Every tick" sid="4672521812644921" type="System" />
            </conditions>
            <actions>
                <action id="-1" name="Set X" sid="6672152875973079" type="BtnPlay">
                    <param id="0" name="X">Self.X+(235-Self.X)/10</param>
                </action>
                <action id="-1" name="Set X" sid="5644847718549769" type="BtnOption">
                    <param id="0" name="X">Self.X+(235-Self.X)/10</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="1399302670648777">
            <conditions>
                <condition id="-2" name="On start of layout" sid="7219434663425939" type="System" />
            </conditions>
            <actions>
                <action id="-1" name="Set X" sid="1977390049680152" type="BtnPlay">
                    <param id="0" name="X">-160</param>
                </action>
                <action id="-1" name="Set X" sid="6570410165903469" type="BtnOption">
                    <param id="0" name="X">800</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="1844929822396686">
            <conditions>
                <condition id="-1" name="Every tick" sid="8161867212181919" type="System" />
            </conditions>
            <actions>
                <action id="-1" name="Set X" sid="6839581172581405" type="BtnMusicOn">
                    <param id="0" name="X">Self.X+(235-Self.X)/10</param>
                </action>
                <action id="-1" name="Set X" sid="9956145192489715" type="BtnSoundOn">
                    <param id="0" name="X">Self.X+(235-Self.X)/10</param>
                </action>
                <action id="-1" name="Set X" sid="2057961355699182" type="BtnCredits">
                    <param id="0" name="X">Self.X+(235-Self.X)/10</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="2336414319984155">
            <conditions>
                <condition id="-2" name="On start of layout" sid="8123086316858648" type="System" />
            </conditions>
            <actions>
                <action id="-1" name="Set X" sid="6547125251635095" type="BtnMusicOn">
                    <param id="0" name="X">-160</param>
                </action>
                <action id="-1" name="Set X" sid="6497993604071087" type="BtnSoundOn">
                    <param id="0" name="X">800</param>
                </action>
                <action id="-1" name="Set X" sid="5721880624706705" type="BtnCredits">
                    <param id="0" name="X">-160</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="8683451803357019">
            <conditions>
                <condition id="7" name="Cursor is over object" sid="2638398873259462" type="Mouse">
                    <param id="0" name="Object">BtnPlay</param>
                </condition>
            </conditions>
            <actions>
                <action id="5" name="Set frame" sid="6609612073262227" type="BtnPlay">
                    <param id="0" name="Frame number">1</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
